/* Estilos para la vista previa de la imagen del producto */
    .product-img-preview {
      width: 150px;
      height: 150px;
      object-fit: cover;
      border: 2px solid #4f46e5; /* morado elegante */
      box-shadow: 0 2px 6px rgba(0,0,0,0.15);
      margin-top: 10px;
    }


  .footer a { 
      cursor: pointer;
      text-decoration: underline;
      color: inherit;
  } 
     
  
  .footer a:hover { 
     color: #4f46e5; /* Indigo-600 */
  }   

  footer span { 
    pointer-events: none; 
  }