<h2 class="title">Catálogo de Productos de la Tienda</h2> 

<!-- Tabla de productos -->
 <div class="product-grid" *ngIf="products().length > 0"> 
  <div class="product-card" *ngFor="let product of products(); trackBy: trackById"> 
    
    <!-- Imagen del producto -->
      <td class="px-6 py-4"> <img [src]="product.imageUrl" class="product-image" alt="Imagen del producto"> </td>
    
    <!-- Título del producto -->
    <h3 class="product-title">{{ product.name }}</h3>
    
    <!-- Descripción del producto -->
    <p class="product-description"> {{ product.description }}</p>

    <!-- Pie de producto con precio y botones -->
    <div class="product-footer"> 
      <span class="product-price">{{ product.price | currency:'EUR':'symbol' }}</span>

    <!-- Botón Añadir al carrito -->
      <button class="btn"(click)="cartService.addToCart(product)"> 
      Añadir al carrito 
    </button>

    <!-- Botón Editar --> 
    <div class="product-actions">
     <a [routerLink]="['/products/edit', product.id]" class="edit-link"> 
     Editar 
    </a> 
    <!-- Botón Eliminar --> 
     <button (click)="deleteProduct(product.id)" class="delete-link"> 
     Eliminar 
    </button>
   </div>

  </div>
</div>

<!-- Mensaje de carga --> 
 <div *ngIf="products().length === 0" class="empty-message"> 
  Cargando productos... (Verifique que Spring Boot esté activo en :8080) 
</div>
