<h2 class="text-xl font-bold mb-4">Carrito de Compras</h2> 

<div *ngIf="cart.cartItems().length === 0"> 
  <p>Tu carrito está vacío.</p> 
</div> 

<div *ngIf="cart.cartItems().length > 0"> 
  <div *ngFor="let item of cart.cartItems()" class="border-b py-3 flex justify-between items-center"> 
    <div> <p class="font-semibold">{{ item.product.name }}

  </p> 
    <p class="text-sm text-gray-600">Precio: {{ item.product.price }} 
      €
    </p> 
    
    <p class="text-sm text-gray-600">Subtotal: {{ item.product.price * item.quantity }} 
      €
    </p> 
  </div> 
  
    <div class="flex items-center gap-2"> 
    <button (click)="cart.decreaseQuantity(item.product.id)">
      ➖
   </button> 
    
    <span>{{ item.quantity }}

   </span> 
    
    <button (click)="cart.increaseQuantity(item.product.id)">
      ➕
    </button> 
    
    <button (click)="cart.removeFromCart(item.product.id)" class="text-red-600 ml-4"> 
      🗑️ 
    </button> 
  </div> 
</div> 

      <p class="text-sm text-gray-600"> 
        Artículos: {{ cart.itemCount() }} 
      </p>

    <div class="mt-4 text-right"> 
      <p class="text-lg font-bold"> 
        Total: {{ cart.total() }} €
       </p> 

      <button (click)="checkout()" class="bg-blue-600 text-white px-4 py-2 rounded mt-2"> 
        Proceder al Pago
      </button>

      <button (click)="confirmClearCart()" 
        class="mt-2 px-4 py-2 bg-red-600 text-white rounded hover:bg-red-700 transition" > 
        Vaciar carrito
      </button>

    </div> 

  </div>